h6 + ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.recipe-step-text {
  display: flex;
}

.recipe-step-text .MuiTypography-root {
  margin: 0 5px 0 10px;
}

.recipe-details-photo {
  max-width: 100%;
  width: 400px;
}

.MuiGrid-container.MuiGrid-item.post-it-note {
  position: sticky;
  padding: 20px 10px;
  width: 250px;
  min-height: 200px;
  height: fit-content;
  right: 20px;
  top: 10px;
  box-sizing: content-box;
  overflow-y: scroll;
}

.MuiGrid-container.MuiGrid-item.post-it-note-container {
  width: 280px;
  border-left: 1px lightgrey solid;
}

.preserve-newlines {
  white-space: pre-wrap;
}
