h6 + ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.recipe-step-text {
  display: flex;
}

.recipe-step-text .MuiTypography-root {
  margin: 0 5px 0 10px;
}

.recipe-details-photo {
  max-width: 100%;
  width: 400px;
}

.MuiGrid-container.MuiGrid-item.post-it-note {
  position: sticky;
  background-color: #ffff99;
  padding: 20px 10px;
  width: 250px;
  min-height: 200px;
  height: fit-content;
  right: 20px;
  top: 80px;
  box-sizing: content-box;
  box-shadow: 1px 1px lightgrey;
}

.MuiGrid-container.MuiGrid-item.post-it-note-container {
  width: 280px;
}

.chefs-notes-text {
  white-space: pre-wrap;
}