.search {
  background: transparent;
  width: 100%;
  border-bottom: 5px solid lightblue;
}
.search-txt {
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
}

.search .MuiChip-root {
  margin: 0px 0px 4px 4px;
  background-color: rgb(125, 225, 255);
  &:hover{
    background-color: rgb(175, 228, 255)
  }
}
