.ingredient-amount-text-field {
  width: 80px;
}

.ingredient-unit-select-field {
  width: 86px;
  box-sizing: border-box;
}

.MuiIconButton-root.delete-element-button {
  padding-left: 0;
  color: none;
  transition: color 0.2s ease;
}

.MuiIconButton-root.delete-element-button:hover {
  color: red;
}

.submit-button {
  width: 123px;
}

.submit-button .MuiCircularProgress-root {
  position: absolute;
  left: 10px;
}
