.text-field-input {
  margin-right: 10px;
  margin-left: 10px;
}

.side-by-side-container {
  display: flex;
  flex-direction: row;
}

.side-by-side-container .MuiButton-root {
  margin-left: auto;
  height: fit-content;
}

.centre-vertically {
  display: flex;
  align-items: center;
}

.spaced-apart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}