.grocery-list input[type="checkbox"] + label {
  font-size: large;
  text-decoration: none;
}

.grocery-list input[type="checkbox"]:checked + label {
  text-decoration: line-through !important;
}

.grocery-list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.grocery-list .MuiSkeleton-root.grocery-item-label-skeleton {
  width: 250px;
  height: 30px;
  float: right;
  margin-bottom: 0;
}
