@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root.MuiTypography-h4 {
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  font-weight: bold;
}
