.loading-text {
  opacity: 0;
  animation: fadeInOut 2s infinite;
  animation-delay: 1s;
  position: absolute;
  margin-top: 15px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.recipe-grid-container .MuiGrid-container {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: inherit;
  height: inherit;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  left: 0;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.recipe-photo {
  object-fit: cover;
  width: inherit;
  height: inherit;
  max-width: 100%;
  max-height: 100%;
}