.recipe-grid-container .MuiBox-root {
  display: flex;
  flex-wrap: wrap;
}

.splide__pagination__page.is-active {
  background: #33691e !important;
}

.splide__track--draggable {
  padding: 10px 0 35px;
}
