.containers {
  margin: 15px 30px;
}

.text-field-input {
  margin-right: 10px;
  margin-left: 10px;
}

.nav-tabs {
  border-right: 5px solid rgb(221, 246, 255);
  height: 100%;
  width: 200px;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.body-container .MuiButton-root {
  margin-left: auto;
  height: fit-content;
}