.containers {
  margin: 15px 30px;
}

.text-field-input {
  margin-right: 10px;
  margin-left: 10px;
}

.nav-tabs {
    border-top: 2.55px solid white;
  height: 100%;
  width: 200px;
}

.nav-tabs .MuiTab-root {
  border-bottom: 2.5px solid white;
  border-top: 2.55px solid white;
  background-color: rgb(221, 246, 255);
}

.body-container {
  display: flex;
  flex-direction: row;
}

.body-container .MuiButton-root {
  margin-left: auto;
  height: fit-content;
}