.search {
  background: transparent;
  width: 100%;
  border-bottom: 5px solid lightblue;
}
.search-txt {
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
}