.logo {
  /* width: 55%; */
  width: 60px;
  height: auto;
  /* margin-left: 10px; */
  float: left;
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  padding: 3px;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  /* float: left; */
}
.search .active {
  background: white;
}
.search-button {
  /* font-size: 40px; */
  cursor: pointer;
  /* color: white; */
  background: none;
  border: none;
}
.search-txt {
  width: 0;
  font-size: 24px;
  border: none;
  background: transparent;
  outline: none;
  transition: 0.5s;
}
.active .search-txt {
  width: 350px;
  /* padding: 0 2px; */
}

.tabs {
  width: 50%;
  transition: 20s;
}
